# Lesson 1: Learning SQL Joins with Leo Messi

# Learning SQL Joins with Leo Messi

## Introduction and Expanding the Horizon
Welcome! I’m thrilled to have you all on board for this exciting adventure — **Learning SQL Joins with Leo Messi**. This course combines the allure of Messi's soccer career with the excitement of data analysis, creating a unique, engaging learning experience for you.

We are about to dive into the fascinating world of SQL **JOINs**, linking tables together in complex but significant ways, much like Messi intricately navigates through defenders on a soccer field.

Our tool of choice for this course is **MySQL**, a globally recognized database management system. However, if you're planning to use a different SQL-based system, rest assured — the concept of JOINs is universal across all platforms.

---

## Brief Dataset Description
Let’s get to know our dataset, inspired by the career of Leo Messi, which contains three primary tables. Below are some sample rows to give you an idea about the structure:

### Matches Table
| match_id | season_id | competition_id | matchday   | date       | venue | club_id | opponent_id | result |
|----------|-----------|----------------|------------|------------|-------|---------|-------------|--------|
| 1        | 1         | 1              | 34         | 2005-01-05 | H     | 1       | 2           | 2:0    |
| 2        | 2         | 2              | Group Stage| 2005-11-02 | H     | 1       | 2           | 5:0    |

This table holds all of Messi's matches with details like the competition date, match result, and venue type.

### Competitions Table
| competition_id | competition_name        |
|----------------|-------------------------|
| 1              | LaLiga                  |
| 2              | UEFA Champions League   |

This table lists the competitions Messi participated in.

### Clubs Table
| club_id | club_name            | club_country |
|---------|-----------------------|--------------|
| 1       | FC Barcelona         | Spain        |
| 2       | Paris Saint-Germain  | France       |

The **Clubs** table provides details about the clubs where Messi has played, along with their respective countries.

---

## What are SQL JOINs?
SQL **JOINs** are techniques to combine data from two or more tables based on a shared column between them. They help us extract meaningful information that may be spread across different tables. There are several types of JOINs, each giving us flexibility in how we combine and manage data.

---

## Understanding Different Types of SQL JOINs
Before diving into SQL JOINs, let’s understand the various types of joins available, each serving a unique purpose:

### INNER JOIN
An **INNER JOIN** (often simply called JOIN) is the most common type. It returns only records with matching values in both tables. If no match is found, the rows will not appear in the result.

**Example:**
```sql
SELECT Matches.match_id, Matches.date, Clubs.club_name
FROM Matches
JOIN Clubs ON Matches.opponent_id = Clubs.club_id
WHERE Matches.venue = 'A'
ORDER BY Matches.date DESC;
```

**Output:**
| match_id | date       | club_name       |
|----------|------------|-----------------|
| 703      | 2023-02-26 | FC Barcelona    |
| 700      | 2023-02-01 | FC Barcelona    |

In this example, we use **INNER JOIN** to combine the `Matches` and `Clubs` tables. The query retrieves the match ID, date, and opponent club name for away matches (`venue = 'A'`), ordered by match date.

---

### LEFT JOIN (or LEFT OUTER JOIN)
A **LEFT JOIN** returns all records from the left table and the matched records from the right table. If there is no match, NULL values fill the right table’s columns. This is helpful when you want to include all records of the left table regardless of matches in the right table.

---

### RIGHT JOIN (or RIGHT OUTER JOIN)
A **RIGHT JOIN** provides all records from the right table and the matched records from the left table. If there is no match, the result will include NULL values for unmatched columns from the left table.

---

### FULL JOIN (or FULL OUTER JOIN)
A **FULL OUTER JOIN** yields all records when a match exists in either table. It combines the results of both LEFT JOIN and RIGHT JOIN. MySQL does not support FULL JOIN directly, but we can emulate it using **LEFT JOIN**, **RIGHT JOIN**, and **UNION** (which we’ll cover later in the course).

---

## Wrapping Up and Looking Ahead
As we wrap up this introductory module on SQL JOINs, think of yourself as a footballer learning a new skill. Understanding SQL JOINs theoretically sets the foundation, but hands-on application is key to mastery.

Moving forward, we’ll delve into each table—**Matches**, **Competitions**, and **Clubs**—individually. This approach will not only help you understand the data but also build a solid foundation for when we start interlinking these tables using JOINs. From simple data retrieval to intricate queries, you’ll learn to narrate the story of Messi’s career using SQL.

## Change to Find Away Matches

Great progress so far!

Let's now refine our current query.

Change the query to find all away matches instead of home matches.


```sql
SELECT Matches.match_id, Matches.date, Matches.result, Clubs.club_name AS Opponent
FROM Matches
JOIN Clubs ON Matches.opponent_id = Clubs.club_id
WHERE Matches.venue = 'H'
ORDER BY Matches.date;

```

To modify the query to find all **away matches** instead of home matches, you need to change the condition in the `WHERE` clause. Typically, `'H'` represents home matches, so to find away matches, you would use `'A'`.

Here's how you can update the query:

```sql
SELECT Matches.match_id, Matches.date, Matches.result, Clubs.club_name AS Opponent
FROM Matches
JOIN Clubs ON Matches.opponent_id = Clubs.club_id
WHERE Matches.venue = 'A'
ORDER BY Matches.date;
```

### Explanation:
- **WHERE Matches.venue = 'A'**: This filters for away matches instead of home matches.
- **ORDER BY Matches.date**: This orders the matches by date in ascending order. 

This query will now fetch all away matches, along with the match ID, date, result, and the name of the opponent club.

## Fix Errors in SQL Joins

## Adding Matchday Condition

## Find Matches Against French Clubs

## Joining Tables for Home Matches